/* src/styles/typography.css */

/* Primary font (optional): add files if you plan to use "Red Hat Display" */
@font-face {
  font-family: 'Red Hat Display';
  src: local('Red Hat Display');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Secondary font used in nav: Consolas */
@font-face {
  font-family: 'Consolas';
  src: url('../assets/fonts/Consolas.woff2') format('woff2'),
       url('../assets/fonts/Consolas.woff') format('woff'),
       url('../assets/fonts/Consolas.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1,h2,h3,h4,h5,h6 { margin: 0; font-weight: 700; }
p { margin: 0; }

code, pre, kbd, samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
